@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root {
    --white: #FFFFFF;
    --blue: #615DFA;
    --gray-d: #F5F5F5;
    --gray-l: #FFFFFF;
    --blue-d: #272A33;
    --violet: #677294;

    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix {
    display: block;
    content: "";
    clear: both;
}

html {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: var(--violet);
}

body {
    width: 100vw;
    line-height: 1.5;
    text-align: left;
    background-color: #ddedf2;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    color: #000;
    line-height: 1.3;
    text-transform: capitalize;
}

p{
    color: var(--violet);
    margin: 0;
    line-height: 28px;
}

.img{
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.img img{
    width: 80%;
}

.sub_img-text{
    
}